*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
ul{
    li{
        list-style: none;
    }
}
.fc_white{
    color: white;
}
.fc_yellow{
    color: #fffc00;
}
.fc_blue{
    color: #006cff;
}
.f_lt{
    float: left;
}
.f_rt{
    float: right;
}
.text_center{
    text-align: center
}
.icon{
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.btn{
    display: block;
    cursor: pointer;
}
.btn_primary{
    text-align: center;
    font-size: 14px;
    background: -webkit-linear-gradient(right,  #0487fe, #129dfe);
    background: -moz-linear-gradient(right,  #0487fe, #129dfe);
    background: -o-linear-gradient(right,  #0487fe, #129dfe);
    background: linear-gradient(right,  #0487fe, #129dfe);
}
body {
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    background-color: #ebecee;
    min-width: 1200px;
    margin: 0;
    padding: 0;
}
input{
    outline: none;
}
.fz_30{
    font-size: 30px;
}
.w_1200{
    width: 1200px;
    margin: 0 auto;
}
.banner{
    height: 795px;
    background-image: url(../img/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    .head{
        height: 58px;
        background-color: #19296c;
        border-bottom: 1px solid #06a9fd;
        .w_1200{
            height: 100%;
            i{
                vertical-align: middle;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            i.logo{
                width: 159px;
                height: 31px;
                background-image: url(../img/pic_logo.png);
                margin-top: 13px;
            }
            i.phone_icon{
                width: 35px;
                height: 34px;
                background-image: url(../img/24_phone.png);
                margin-right: 5px;
                margin-top: 4px;
            }
            div.f_rt{
                margin-top: 8px;
                p{
                    font-style: oblique;
                }
            }
            
        }
    }
    .banner_items{
        .notice{
            height: 45px;
            background: -webkit-linear-gradient(left,rgba(6, 169, 253, .05)  , rgba(6, 169, 253, .3)  , rgba(6, 169, 253, .3)  , rgba(6, 169, 253, .05)  ); 
            background: -o-linear-gradient(left,rgba(6, 169, 253, .05)  , rgba(6, 169, 253, .3)   , rgba(6, 169, 253, .3)  , rgba(6, 169, 253, .05)  ); 
            background: -moz-linear-gradient(left,rgba(6, 169, 253, .05)  , rgba(6, 169, 253, .3)   , rgba(6, 169, 253, .3)  , rgba(6, 169, 253, .05)  );
            background: linear-gradient(left,rgba(6, 169, 253, .05)  , rgba(6, 169, 253, .3)   , rgba(6, 169, 253, .3)  , rgba(6, 169, 253, .05)  ); 
            .w_1200{
                height: 45px;
                line-height: 45px;
                i.notice_icon{
                    display: inline-block;
                    width: 23px;
                    height: 20px;
                    background-image: url(../img/hom_icon.png);
                    vertical-align: middle;
                    margin-right: 10px;
                }
                marquee{
                    display: inline-block;
                    width: 1000px;
                    margin-left: 20px;
                    span{
                        margin-right: 20px;
                    }
                }
            }
        }
    }
    .cont{
        height: 530px;
        margin-top: 22px;
        .querySys{
            width: 563px;
            height: 530px;
            background-image: url(../img/querySys_bg.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: relative;
            .form{
                width: 426px;
                height: 285px;
                position: absolute;
                top: 222px;
                left: 70px;
                input, .mselect{
                    width: 100%;
                    height: 46px;
                    line-height: 46px;
                    text-indent: 20px;
                    font-size: 14px;
                    border-radius: 25px;
                }
                input{
                    
                    background-color: transparent;
                    color: white;
                    outline: none;
                    border: none;
                }
                 input[placeholder], [placeholder], *[placeholder] {   
                    color: white !important;
                } 
                ::-webkit-input-placeholder { /* WebKit browsers */
                    color: white !important;
                }
                .mselect{
                    position: relative;
                    top: 70px;
                    z-index: 2;
                    .mselectVal{
                        color: white;
                    }
                    .btn_select{
                        display: block;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        color: #666;
                        font-size: 18px;
                        transform:rotate(90deg);
                        -ms-transform:rotate(90deg); 	/* IE 9 */
                        -moz-transform:rotate(90deg); 	/* Firefox */
                        -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
                        -o-transform:rotate(90deg); 	/* Opera */
                        position: absolute;
                        top: 10px;
                        right: 15px;
                    }
                    .sub_select{
                        width: 100%;
                        height: 180px;
                        background-color: white;
                        overflow-y: auto;
                        border: 1px solid #ccc;
                        position: absolute;
                        top: 46px;
                        left: 0;
                        z-index: 3;
                        a{
                            display: block;
                            color: #333;
                            width: 100%;
                            height: 30px;
                            line-height: 30px;
                            text-indent: 10px;
                            cursor: pointer;
                        }
                        a:hover, a.active{
                            background-color: wheat;
                        }
                    }
                }
                .btn{
                    display: block;
                    width: 340px;
                    height: 53px;
                    margin-top: 93px;
                    margin-left: 35px;
                }
            }
        }
        .queryResult{
            width: 558px;
            div.wrap{
                font-size: 14px;
                background: -webkit-linear-gradient(top,  rgba(18, 146, 254, .36), rgba(255, 255, 255, 0));
                background: -moz-linear-gradient(top,  rgba(18, 146, 254, .36), rgba(255, 255, 255, 0));
                background: -o-linear-gradient(top,  rgba(18, 146, 254, .36), rgba(255, 255, 255, 0));
                background: linear-gradient(top,  rgba(18, 146, 254, .36), rgba(255, 255, 255, 0));
                border: 1px solid #01c1e6;
                padding: 10px;
                div.wrap_bg{
                    background: -webkit-linear-gradient(top,  rgba(0, 0, 0, .37), rgba(255, 255, 255, 0));
                    background: -moz-linear-gradient(top,  rgba(0, 0, 0, .37), rgba(255, 255, 255, 0));
                    background: -o-linear-gradient(top,  rgba(0, 0, 0, .37), rgba(255, 255, 255, 0));
                    background: linear-gradient(top,  rgba(0, 0, 0, .37), rgba(255, 255, 255, 0));
                    padding: 25px 30px;
                    p.tit{
                        font-weight: 600;
                        font-size: 16px;
                    }
                    div{
                        width: 350px;
                        height: 120px;
                        overflow: hidden;
                        position: relative;
                        ul.result{
                            width: 350px;
                            margin: 0 auto;
                            position: absolute;
                            top: 0px;
                            li{
                                line-height: 30px;
                                font-weight: lighter;
                            }
                        }
                    }
                    ul.items{
                        margin-top: 38px;
                        li{
                            float: left;
                            width: 33.3%;
                            text-align: center;
                            a{
                                display: block;
                                width: 100%;
                                height: 100%;
                                cursor: pointer;
                            }
                            i{
                                width: 91px;
                                height: 91px;
                                margin: 0 auto;
                            }
                            i.sbflb_icon{
                                background-image: url(../img/sbflb.png);
                            }
                            i.zcwts_icon{
                                background-image: url(../img/zcwts.png);
                            }
                            i.sbsqs_icon{
                                background-image: url(../img/sbsqs.png);
                            }
                            p{
                                font-size: 16px;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.centerCont{
    background-color: #f5f7fc;
    .items_wrap{
        height: 131px;
        border: 1px dashed #dadbde;
        ul.items{
            li{
                float: left;
                width: 25%;
                height: 131px;
                text-align: center;
                a{
                    display: block;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
                i{
                    display: inline-block;
                    width: 64px;
                    height: 51px;
                    margin-top: 15px;
                }
                i.gtzc_icon{
                    background-image: url(../img/gtzc_icon.png);
                }
                i.gszc_icon{
                    background-image: url(../img/gszc_icon.png);
                }
                i.gjzc_icon{
                    background-image: url(../img/gjzc_icon.png);
                }
                i.sbsj_icon{
                    background-image: url(../img/sbsj_icon.png);
                }
                p{
                    color: rgba($color: black, $alpha: .7);
                    font-size: 15px;
                    margin-top: 15px;
                }
            }
            li:not(:last-child){
                border-right: 1px dashed white;
            }
        }
    }
    .trends{
        height: 56px;
        line-height: 36px;
        color: rgba($color: black, $alpha: .7);
        font-size: 14px;
        padding: 10px;
        .redNotice_icon{
            display: inline-block;
            width: 23px;
            height: 20px;
            background-image: url(../img/red_notice_icon.png);
            vertical-align: middle;
            margin-right: 10px;
        }
        ul{
            float: left;
            width: 80%;
            li{
                float: left;
                width: 25%;
                text-align: center;
            }
            li:not(:last-child){
                border-right: 1px solid #a9abb4;
            }
        }
    }
}
//计算系统
.registerCal_sys{
    width: 1200px;
    height: 762px;
    background-image: url(../img/calsys_bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 96px;
    position: relative;
    .title{
        text-indent: 25px;
        .tit{
            color: black;
            font-size: 30px;
            font-weight: 800;
            line-height: 60px;
        }
        .tip{
            color: #333;
        }
    }
    .from_wrap{
        position: absolute;
        top: 200px;
        left: 80px;
    }
}
.from_wrap{
    width: 422px;
    i{
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    p{
        color: black;
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;
        i{
            width: 24px;
            height: 21px;
        }
        i.sbmc_icon{
            background-image: url(../img/sbmc_icon.png);
        }
        i.sshy_icon{
            background-image: url(../img/sshy_icon.png);
        }
        i.lxfs_icon{
            background-image: url(../img/lxfs_icon.png);
        }
    }
    .mselect{
        position: relative;
        z-index: 2;
        .mselectVal{
            color: #666;
        }
        .btn_select{
            color: #666;
            font-size: 18px;
            transform:rotate(90deg);
            -ms-transform:rotate(90deg); 	/* IE 9 */
            -moz-transform:rotate(90deg); 	/* Firefox */
            -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
            -o-transform:rotate(90deg); 	/* Opera */
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .sub_select{
            width: 100%;
            height: 180px;
            background-color: white;
            overflow-y: auto;
            border: 1px solid #ccc;
            position: absolute;
            top: 46px;
            left: 0;
            z-index: 3;
            a{
                display: block;
                color: #333;
                width: 100%;
                height: 30px;
                line-height: 30px;
                text-indent: 10px;
                cursor: pointer;
            }
            a:hover, a.active{
                background-color: wheat;
            }
        }
    }
    div.tip{
        width: 207px;
        background-color: #58b850; 
        border-radius: 5px;
        line-height: 25px;
        text-indent: 10px;
        margin-bottom: 10px;
        i.dp_icon{
            background-image: url(../img/dunpai.png);
        }
    }
    input, .mselectVal{
        width: 100%;
        height: 46px;
        line-height: 46px;
        text-indent: 10px;
        font-size: 14px;
        border: 1px solid #dcdee5;
    }
    select{
        width: 100%;
        height: 46px;
        line-height: 46px;
        font-size: 14px;
        background-color: white;
        border: 1px solid #dcdee5;
        border-radius: 0% !important;
    }
    .getcord_btn{
        display: inline-block;
        width: 172px;
        height: 46px;
        line-height: 46px;
        border-radius: 25px;
    }
    .submit{
        height: 52px;
        line-height: 52px;
        font-weight: 600;
        margin-top: 36px;
    }
}
//专业顾问为您解答
.pro_advisor{
    height: 806px;
    background-image: url(../img/pro_advisorbg.png);
    margin-top: 40px;
    .w_1200{
        padding: 20px;
        .title{
            line-height: 60px;
            letter-spacing:8px; 
        }
        .cont{
            margin-top: 80px;
            ul.tabs{
                width: 370px;
                border-right: 1px solid #9498a0;
                li{
                    height: 50px;
                    line-height: 50px;
                    text-align: right;
                    a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                    }
                }
                li:hover, li.active{
                    a{
                        font-size: 13px;
                        color: #00a4ff;
                        border-right: 2px solid #4da9ff;
                        background: -webkit-linear-gradient(right,  #001d2d, rgba(255, 255, 255, 0));
                        background: -moz-linear-gradient(right,  #001d2d, rgba(255, 255, 255, 0));
                        background: -o-linear-gradient(right,  #001d2d, rgba(255, 255, 255, 0));
                        background: linear-gradient(right,  #001d2d, rgba(255, 255, 255, 0));
                        margin-right: -1px;
                    }
                }
            }
            .items{
                width: 790px;
                padding-top: 60px;
                .item_tit, .data_tit{
                    font-size: 40px;
                    font-weight: 700;
                }
                .item_tit{
                    line-height: 200px;
                }
                .fc_yellow{
                    font-weight: 600;
                }
                .down_btn{
                    display: inline-block;
                    width: 228px;
                    height: 50px;
                    line-height: 50px;
                    border-radius: 50px;
                    font-size: 16px;
                    margin-top: 30px;
                }
            }
        }
    }
}
// 申请商标的好处
.apply_benifit{
    margin-top: 60px;
    .w_1200{
        overflow: hidden;
        margin-bottom: 100px;
        .img_bg{
            width: 600px;
            height: 529px;
            background-image: url(../img/benfit_bg.png)
        }
        .items{
            ul{
                width: 600px;
                height: 264px;
                li{
                    float: left;
                    width: 33.3%;
                    height: 263px;
                    text-align: center;
                    background: -webkit-linear-gradient(bottom,  #2c98fc, #006cff);
                    background: -moz-linear-gradient(bottom,  #2c98fc, #006cff);
                    background: -o-linear-gradient(bottom,  #2c98fc, #006cff);
                    background: linear-gradient(bottom,  #2c98fc, #006cff);
                    padding: 60px 30px;
                    cursor: pointer;
                    img{
                        margin-bottom: 20px;
                    }
                    h2{
                        margin: 20px 0;
                    }
                    p{
                        text-indent: 10px;
                        line-height: 20px;
                        height: 36px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        word-break: break-all;
                    }
                }
                li:not(:last-child){
                    border-right: 1px solid white;
                }
                li:nth-child(1), li:nth-child(2), li:nth-child(3){
                    border-bottom: 1px solid white;
                }
                li:hover{
                    padding: 20px 30px;
                    h2{
                        display: none;
                    }
                    p{
                        height: auto;
                        overflow: inherit;
                    }
                }
            }
        }
    }
}
.queryDlg{
    width: 1200px;
    height: 783px;
    border: 1px solid #129dfe;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -392px;
    margin-left: -600px;
    z-index: 11;
    .from_wrap{
        margin: 60px;
    }
    .bg{
        width: 600px;
        height: 783px;
        background-image: url(../img/querydlg_bg.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .btn_close{
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
.footer{
    width: 100%;
    height: 81px;
    background-color: #1e1f1f;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    .w_1200{
        padding-top: 20px;
        img{
            margin-right: 10px;
        }
        .input_wrap{
            display: inline-block;
            width: 300px;
            height: 40px;
            background-color: white;
            border-radius: 5px;
            i{
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url(../img/phone.png);
                margin: 10px 5px 0 10px;
            }
            input{
                display: inline-block;
                float: right;
                width: 265px;
                line-height: 40px;
                border-radius: 5px;
                border: none;
                text-indent: 10px;
            }
        }
        .btn{
            display: inline-block;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            background-color: #11ce15;
            border-radius: 5px;
            padding: 0 10px;
            margin-left: 10px;
            vertical-align: top;
        }
    }
}